.main-nav {
  gap: 3.2rem;
  justify-content: center;
}

.nav-link {
  padding: 1.2rem 0;
  position: relative;
  text-align: center;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
}

.nav-link::after {
  content: "";

  background-color: transparent;
  transition: all 0.25s;
  width: 75%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  border-bottom: 3px solid #fff;
}

.mobile-nav-container {
  display: none;
  z-index: 999;
}
