@media (max-width: 1366px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }

  .hero-section div {
    padding: 1.8rem;
    width: 48rem;
  }

  .hero-section div h1 {
    font-size: 5.6rem;
  }

  .about-section div {
    padding: 5.6rem;
    padding-right: 0;
    padding-bottom: 0;
  }

  .about-section div h2 {
    font-size: 4rem;
  }

  .creations-section .flex h2 {
    font-size: 4rem;
  }

  .creations-section .image-container h3 {
    padding-right: 3.6rem;
  }
}

@media (max-width: 880px) {
  .main-header {
    padding: 6.4rem;
  }

  .hero-section div {
    left: 6.4rem;
    top: 45%;
  }

  .about-section {
    padding: 12rem 6.4rem 0;
  }

  .creations-section {
    padding: 12rem 6.4rem;
  }

  .main-footer {
    padding: 4.8rem 6.4rem;
  }
}
