@media (max-width: 1366px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }

  .hero-section div {
    padding: 1.8rem;
    width: 48rem;
  }

  .hero-section div h1 {
    font-size: 5.6rem;
  }

  .about-section div {
    padding: 5.6rem;
    padding-bottom: 0;
  }

  .about-section div h2 {
    font-size: 4rem;
  }

  .creations-section .flex h2 {
    font-size: 4rem;
  }

  .creations-section .image-container h3 {
    padding-right: 3.6rem;
  }
}
