.main-header {
  align-items: center;
  background-color: transparent;
  color: #fff;
  justify-content: space-between;
  padding: 6.4rem 12rem;
  width: 100%;
  z-index: 10;

  position: absolute;
  top: 0;
}
