.hero-section {
  position: relative;
}

.hero-section .image {
  filter: brightness(50%);
  width: 100%;
}

.hero-section .mobile-image {
  display: none;
}

.hero-section div {
  border: 3px solid #fff;
  padding: 2.4rem;
  width: 56rem;

  position: absolute;
  top: 40%;
  left: 12rem;
}

.hero-section div h1 {
  color: #fff;
  font-size: 6.4rem;
  font-weight: 200;
  text-transform: uppercase;
  z-index: 10;
}
